body {
    /* display: flex;
    align-content: flex-start;
    flex-flow: column wrap;
    height: 1080;
    width: 1920; */
    background-color: black;
    text-align: center;
    margin: 40px;
}

#Top-Container {
    display: flex;
    height: 650px;
    width: 100%;
    margin-bottom: 11px;
}

#Game-Map {
    display: flex;
    background-color: blue;
    height: 100%;
    width: 80%;
    padding-left: 40px;
}

#Action-Menu {
    background-color: black;
    color: aquamarine;
    height: 100%;
    width: 20%;
}

#Bottom-Container {
    display: flex;
    height: 100px;
    width: 100%;
}

#Status-Bar {
    display: flex;
    background-color: gray;
    height: 100%;
    width: 80%;
}

#Quit-Bar {
    display: flex;
    background-color: rgb(156, 156, 156);
    height: 100%;
    width: 20%;
}

.window {
    border: 5px outset black;
    border-radius: 25px;
}

.territory {
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    width: 70px;
    height: 70px;
    border: solid black;
}

.peasant {
    display: flex;
    background-color: white;
    width: 5px;
    height: 5px;
    border: solid black;
}

.priest {
    display: flex;
    background-color: rgb(95, 95, 95);
    width: 5px;
    height: 8px;
    border: solid black;
}

.soldier {
    display: flex;
    background-color: red;
    width: 5px;
    height: 8px;
    border: solid black;
}